<% provide(:title, "About") %>
<h1>About</h1>
<div class="container">
    <p>
        Have you ever been at a loss for what book to read next? Well no more! Inspired by my own lack of reading ideas, I created this web app to leverage the mighty cache of content that is Google Books to provide recommendations under various filters. I wish you the best of luck in your hunt for your next read!
    </p>
    <p>
        Hosted by Heroku and built with Ruby on Rails and the Google Books API, I created this website for my class, CSC324 Software Design and Development, and have open-sourced it for the use of anyone who wishes to utilize it. You can find the code on Github <a href="https://github.com/niehusst/BookRecommender">here</a>.
    </p>
    <%= image_tag('books-1655783_640.jpg', alt: 'Door in bookshelf') %>
</div>
