<% provide(:title, "Home") %>
<h1>Get some fresh Reads!</h1>
<p>Ever not known what to read? This web app can help with that!
    Sign up for free now to start getting book recommendations fast.
</p>
<a class="btn" role="button" href="/users/sign_up">Sign up</a>
