<% provide(:title, "Home") %>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Our Logo</a>
    <form class="form-inline">
        <a class="btn btn-outline-primary" href="/login" role="button">
            Login
        </a>
        <div class="nav-btn">
            <a class="btn btn-outline-success" href="/signup" role="button">
                Sign Up
            </a>
        </div>
    </form>
</nav>
<h1>Get some fresh Reads!</h1>
<p>Ever not known what to read? This web app can help with that!
    Sign up for free now to start getting book recommendations fast.
</p>
<button>Sign up</button>
