<% provide(:title, "Recommend") %>
<h1>Recommend me a book...</h1>
<div>
    <div>
        <button>SURPRISE ME</button>
        <button>OTHERS ARE READING</button>
    </div>
    <div>
        <button>MATCH ME</button>
        <button>IN THE GENRE</button>
    </div>
</div>
