<% provide(:title, "Recommend") %>
<h1>Recommend me a book...</h1>
<div>
    <div><!-- TODO: make buttons do diff things -->
        <%= link_to 'SURPRISE ME', '/recommend/book', class: 'btn btn-width' %>
        <%= link_to 'OTHERS ARE READING', '/recommend/book', class: 'btn btn-width' %>
    </div>
    <div>
        <%= link_to 'FOR ME', '/recommend/book', class: 'btn btn-width' %>
        <%= link_to 'IN THE GENRE', '/recommend/book', class: 'btn btn-width' %>
    </div>
</div>
