<% provide(:title, "Recommendation") %>
<div><!-- TODO insert stuff in here from the api result with erb stuff -->
    <div>
        <!-- image credit https://imgur.com/gallery/cJp4uY6 -->
        <img src="https://i.imgur.com/8u3skSq.png">
        <h1><span id="title">Book title</span>, <span id="author">Author</span></h1>
        <p>Description</p>
        <label>Other people thought:</label>
        <ul>
           <i>*</i>
           <i>*</i>
           <i>*</i>
           <i>*</i>
           <i>*</i>
        </ul>
    </div>
    <div>
        <button>Nope</button>
        <button>Already read it</button>
        <button>Love it!</button>
    </div>
</div
