<% provide(:title, "Genre") %>
<div>
    <%= render 'recommendations/book_rec' %>
    <div>
        <div class="flex-row pad-top">
            <%= link_to 'Nope', "/recommend/book/genre/#{params[:genre]}/#{params[:page] ? params[:page].to_i + 1 : 1}", class: 'btn btn-width' %>
            <!-- add book to profile and link to book edit page to give rating -->
            <%= render 'recommendations/buttons' %>
        </div>
    </div>
</div>
