<% provide(:title, "Random") %>
<div>
    <%= render 'recommendations/book_rec' %>
    <div>
        <div class="flex-row pad-top">
            <%= link_to 'Next Recommendation', '/recommend/book/random', class: 'btn btn-width' %>
            <%= render 'recommendations/buttons' %>
        </div>
    </div>
</div>
