<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Our Logo</a>
    <form class="form-inline">
        <a class="btn" href="/recommendation" role="button">
            Recommendations
        </a>
        <div class="nav-btn">
            <a class="btn" href="/about" role="button">
                About
            </a>
        </div>
        <div class="nav-btn">
            <a class="btn" href="/profile" role="button"><!-- TODO: change tab name?-->
                Profile
            </a>
        </div>
        <div class="nav-btn">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn" %>
            <!--<a class="btn" href="/logout" role="button">
                Logout
            </a>-->
        </div>
    </form>
</nav>
