<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Our Logo</a>
    <form class="form-inline">
        <a class="btn btn-outline-primary" href="/login" role="button">
            Login
        </a>
        <div class="nav-btn">
            <a class="btn btn-outline-success" href="/signup" role="button">
                Sign up
            </a>
        </div>
    </form>
</nav>
