<!DOCTYPE html>
<html>
  <head>
    <title>BookRecommender</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Our Logo</a>
        <form class="form-inline">
            <a class="btn" href="/recommendation" role="button">
                Recommendations
            </a>
            <div class="nav-btn">
                <a class="btn" href="/about" role="button">
                    About
                </a>
            </div>
            <div class="nav-btn">
                <a class="btn" href="/profile" role="button">
                    Profile
                </a>
            </div>
            <div class="nav-btn">
                <a class="btn" href="/logout" role="button">
                    Logout
                </a>
            </div>
        </form>
    </nav>
    <%= yield %>
  </body>
</html>
