<!DOCTYPE html>
<html>
  <head>
    <title>BookRecommender</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Our Logo</a>
        <form class="form-inline">
            <a class="btn btn-outline-primary" href="/login" role="button">
                Login
            </a>
            <div class="nav-btn">
                <a class="btn btn-outline-success" href="/signup" role="button">
                    Sign up
                </a>
            </div>
        </form>
    </nav>
    <%= yield %>
  </body>
</html>
